@media screen and (min-width: 825px){
    body{
        margin: 0;
        /* Encabezado*/
        header{
            height: 80px;
            padding:0;
            img{
                margin-left: 78px;
                margin-top: 10px;
                padding: 22px;
            }
            nav .menu ul {
                margin-right: 74px;
                margin-top: 0;
                position: relative;
                overflow: hidden;
                background: unset;
                height: 28px;
                padding: 26px;
                li {
                    padding: 0px 24px;
                    display: inline-block;
                &:hover{
                    border:none;

                }
                    a{
                        padding: unset;
                        font-size: 16px;
                        color: $color-black-blue;
                        letter-spacing: 0;
                        line-height: 28px;
                        font-family: $font-titleMono;
                        &:hover{
                            border:none;
                            text-decoration: line-through;
                            color: $color-green-blue;
        
                        }   
                        &:active{
                            text-decoration: line-through;
                            color: $color-green-blue;
                        }
                    }
                } 
            }
        }
        header nav .menu {
                        input {
                                display: none;
                        }
                        span {
                                display: none;
                        }
        }
        /* Bienvenida*/
        .bienvenida{
            padding-left: 200px;
            padding-top: 120px;
            h1{
                font-size: 64px;
                color: $color-black-blue;
                letter-spacing: 0;
                font-family: $font-titleSans;
                #puntotitulo{
                    text-decoration: none;
                    color: #0000EC;
                }
            }
            br{ 
                display: none; 
            }
            #parrafo-inicial{
                    width: 628px;
                    font-size: 16px;
                    color: $color-black-blue;
                    letter-spacing: 0;
                    line-height: 24px;
                    font-family: $font-titleMono;
                    
                }
            #tecnologia{
                display: initial;
                font-size: 16px;
                color: $color-black-blue;
                font-family: $font-titleMono;
            }
            .conoce{
                margin-top: 56px;
                font-size: 18px;
                letter-spacing: 0;
                text-align: center;
                line-height: 24px;
                color: $color-black-blue;
                font-family: $font-textoMonoMedium;
                &:hover{
                    font-size: 18px;
                }
            }
        }
         /* Episodio*/
        .episodios{
            padding-left: 0;
            padding-right: 0;
            height: 1042.6px;
            width: 1440px;
            clip-path: polygon(0% 5%, 100% 0%, 100% 83%, 0% 100%); 
            h1{
                margin-left: 200px;
                padding-top: 186px;
                padding-bottom: 26px;
                font-size: 48px;
                color: #FFFFFF;
                letter-spacing: 0;
                font-family: $font-titleSans;
            }
            .podcast{
                display: grid;
                grid-template-columns: 656px 584px;
                margin-left: 100px;
                margin-right: 100px;
                .list-podcast{  
                    width: 584px;
                    height: 232px;
                    margin-right: 72px;
                    margin-bottom: 72px;
                    padding: 0;
                    .ele-spoti{
                        height: 100%;
                        width: 100%;
                    }
                }
            }

        }
        /* Historia*/
        .historia{
            display: flex;
            flex-direction: row;
            top: -190px;
            .imagen-phone{
                width: 457.6px;
                height: 606;
                margin-left: 200px;
                margin-right: 62.4px;
            }
            .venimos{
                width: 399px;
                margin-top: 200px;
                font-size: 48px;
                color: $color-black-blue;
                letter-spacing: 0;
                font-family: $font-titleSans;
            }
                    #textoVenimos{  
                        width: 464px;
                        height: 204px;
                        font-size: 16px;
                        color: $color-black-blue;
                        line-height: 24px;
                        font-family: $font-titleMono;
                    }
        }
        /* Invitados*/
        .invitados {
            margin: 0;
            h2{
               margin-left: 200px;
               margin-bottom: 36px;
            }
            .fotos{
                display: grid;
                grid-template-columns: 480px 480px  480px;
                img{
                    width: 480px;
                    height: 364px;
                }
            }
        }
        /* Temas*/
        .temas{
            padding: 0;
            #tituloTemas{
                width: 986px;
                padding-left: 200px;
                font-family: $font-titleSans;
                font-size: 48px;
                color: $color-black-blue;
                letter-spacing: 0;
            }
            .tipos-clasificacion{
                display: flex;
                flex-direction: row;
                width: 220px;
                margin-top: 32px;
                margin-bottom: 34px;
                padding-left: 200px;
                .icono{ 
                    padding: 0 78px 16px 78px;
                }
                .tituloFigura{
                    height: 64px;
                    font-size: 24px;
                    color: $color-black-blue;
                    font-family: $font-SansSemiBold;
                    letter-spacing: 0;
                    text-align: center;
                }
            }
        }
        /* Novedades*/
        .novedades{
            width: 1440px;
            height: 518px;
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);   
        #titulonovedades{
                width: 692px;
                font-size: 48px;
                color: #FFFFFF;
                letter-spacing: 0;
                margin-left: 374px;
                padding-top: 213px;
                text-align: left;
                font-family: $font-titleSans;
            }
            #escuchar{
                width: 345px;
                height: 56px;
                margin-left: 547px;
                margin-bottom: 151px;
                font-size: 18px;
                color: $color-black-blue;
                font-family: $font-textoMonoMedium;
                letter-spacing: 0;
                text-align: center;
                line-height: 24px;
                &:hover{
                    color: #FFFFFF;
                }
            }
        }
        /* footer*/
        footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 15px;
            margin-left: 100px;
            margin-right: 62px;
        }
    }
}

