$font-title: 'IBM Plex Sans', sans-serif;
$font-title2: 'IBM Plex Sans','SemiBold';
$font-titleMono: 'IBM Plex Mono','SemiBold';
$font-titleSans: 'IBM Plex Sans';
$color-black-blue: #060A24;
$color-green-blue: #00F3BB;