$font-title: 'IBM Plex Sans', sans-serif;
$font-titleMono: 'IBM Plex Mono';
$font-titleSans: 'IBM Plex Sans';
$font-SansSemiBold: 'IBM Plex Sans','SemiBold';
$font-textoMonoMedium: 'IBM Plex Mono','Medium';
$color-black-blue: #060A24;
$color-green-blue: #00F3BB;
